# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/package-lock.json
npm-debug.log*

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
